body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    padding: 0.25em;
    background-color: #42332e;
}
nav {
    background: linear-gradient(180deg, rgba(66,51,46,1) 0%, rgb(75, 63, 59) 28%, rgb(104, 82, 77) 100%);;
}
nav ul li a {
    cursor: pointer;
}
.parallax {
    min-height: 100dvh;
    background-image: url(../images/sweden-landscape.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}  
.carousel {
    width: 50%;
    margin: 0 auto;
}
@media only screen and (max-width: 600px) {
    .parallax {
        min-height: 100dvh;
        background-image: url(../images/sweden-landscape.jpeg);
        background-attachment: scroll;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}